---
import { Image } from 'astro:assets';
import logoLibertador from '../assets/logo-libertador.png';
---

<footer class="bg-azul-marino-oscuro text-gray-300 font-open-sans">
  <div class="container mx-auto px-6 py-12">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-10">
      
      <div class="flex flex-col items-center md:items-start">
        <a href="/#" class="flex items-center mb-4  p-2 rounded-md bg-white">
          <Image src={logoLibertador} alt="Logo alcalde de Libertador" class="h-14 w-auto " />

        </a>
        <p class="text-center md:text-left text-sm">
          Comprometidos con el crecimiento y bienestar de nuestro pueblo, Palo Negro.
        </p>
        <div class="flex mt-6 space-x-5">
          <a href="https://www.tiktok.com/@gonzalochachodiaz" target="_blank" class="text-gray-400 hover:text-amarillo-dorado transition-colors duration-300">
            <i class="fa-brands fa-tiktok text-2xl"></i>
            <span class="sr-only">Twitter</span>
          </a>
          <a href="https://www.facebook.com/profile.php?id=100081995604969" target="_blank" class="text-gray-400 hover:text-amarillo-dorado transition-colors duration-300">
            <i class="fa-brands fa-facebook text-2xl"></i>
            <span class="sr-only">Facebook</span>
          </a>
          <a href="https://www.instagram.com/gonzalochachodiazoficial" target="_blank" class="text-gray-400 hover:text-amarillo-dorado transition-colors duration-300">
            <i class="fa-brands fa-instagram text-2xl"></i>
            <span class="sr-only">Instagram</span>
          </a>
        </div>
      </div>

      <div>
        <h3 class="font-montserrat font-bold text-white mb-4 text-lg">Navegación</h3>
        <ul class="space-y-2">
          <li><a href="/#nuestra-gestion" class="hover:text-amarillo-dorado transition-colors duration-300">Nuestra Gestión</a></li>
          <li><a href="/#conoce-alcalde" class="hover:text-amarillo-dorado transition-colors duration-300">Conoce al Alcalde</a></li>
          <li><a href="/#logros-comunidad" class="hover:text-amarillo-dorado transition-colors duration-300">Logros en tu Comunidad</a></li>
          <li><a href="/#participa" class="hover:text-amarillo-dorado transition-colors duration-300">Participa</a></li>
          <li><a href="/periodico/#periodico" class="hover:text-amarillo-dorado transition-colors duration-300">Periódico</a></li>

        </ul>
      </div>

      <div>
        <h3 class="font-montserrat font-bold text-white mb-4 text-lg">Contacto</h3>
        <p class="mb-2">
          <i class="fa-solid fa-location-dot w-5 mr-2"></i>
          Despacho de la Alcaldía, Plaza bolivar, <br>Palo Negro, Estado Aragua.
        </p>
        <!-- <p>
          <i class="fa-solid fa-phone w-5 mr-2"></i>
          (0412) 123-4567
        </p> -->
      </div>

    </div>

    <div class="mt-12 pt-8 border-t border-gray-700 text-center">
      <p class="text-sm text-gray-500">
        &copy; {new Date().getFullYear()} Alcaldía de Libertador. Todos los derechos reservados.
      </p>
    </div>
  </div>
</footer>