---
// import { Image } from "astro:assets";
---
<div class="relative h-[95vh] w-full overflow-hidden">
    <img src="hero-image.jpg" alt="Imagen de fondo de la campaña" class="absolute inset-0 w-full h-full object-cover" style="object-position: 78%;">
    <div class="absolute inset-0 bg-gradient-to-t from-azul-marino-oscuro to-70% lg:hidden"></div>

    <div class="absolute inset-0 container mx-auto flex items-end px-6 pb-12 lg:items-center lg:pb-0">
        <div class="max-w-xl">
            <h1 class="text-[38px] font-black uppercase italic leading-tight text-[#F39C12] md:text-5xl lg:text-[90px] font-montserrat">
                “Con Dios <br /> Todo, <br /> Sin Dios <br /> Nada”
            </h1>
            <p class="mt-4 text-[20px] font-semibold text-white md:text-[30px] font-open-sans"> 
                Gonzalo “Chacho” Díaz a la <br /> Reelección de Palo Negro
            </p>
        </div>
    </div>
</div>