---
import { Image } from "astro:assets";
import myImage from '../assets/5100499433707122332.jpg'; 
---
<section id="nuestra-gestion" class="container mx-auto px-6 py-20">
    <div class="flex flex-col lg:flex-row lg:items-center justify-center mb-16">
        <h1 class="text-titulo-mobile text-azul-marino-oscuro mb-7 md:mb-0 md:text-titulo font-montserrat font-bold max-w-xl text-left animate-on-scroll" data-animation="animate-fade-up">Juntos por un Palo Negro Mejor</h1>
        <p class="mt-4 text-parrafo font-open-sans max-w-[544px] text-left animate-on-scroll" data-animation="animate-fade-right animate-delay-500">Únase a nosotros para apoyar a nuestro candidato a la alcaldía, comprometido con fomentar el crecimiento y la unidad en Palo Negro. Juntos, podemos construir un futuro mejor para nuestra comunidad.</p>
    </div>
    <div class="h-[300px] lg:h-[650px]">
        <Image 
            class=" rounded-lg mx-auto max-w-[1200px] w-full h-full object-cover object-top shadow-lg animate-on-scroll"
            data-animation="animate-fade-up animate-delay-1000"
            src={myImage} 
            alt="Candidato a la alcaldía sonriendo en un evento comunitario en Palo Negro." 
            loading="lazy"
            quality={100}
        />
    </div>
</section>