---
// src/components/VideoVertical.astro

// Te recomiendo usar un video que haya sido grabado en vertical.
const videoUrl = "/videos/mi-video.mp4";
---

<section class="bg-white text-gray-800 py-16 sm:py-20">
  <div class="max-w-screen-xl mx-auto px-4">
    
    <div class="grid grid-cols-1 lg:grid-cols-2  items-center">
      
      <div class="lg:order-last">
        <h2 class="text-titulo-mobile text-azul-marino-oscuro mb-7 md:mb-0 md:text-titulo font-montserrat font-bold text-center lg:text-left">
          Palo Negro tiene Memoria
        </h2>
        
        <p class="hidden lg:block text-parrafo font-open-sans text-gray-600 leading-relaxed mt-4">
La memoria de nuestro pueblo es clara. Recordamos la gestión anterior por sus hechos: obras de infraestructura que transformaron el municipio, una nueva flota de vehículos que fortaleció los servicios públicos y un impulso decidido al progreso. Esa es la base de la confianza para seguir avanzando.

        </p>
      </div>

      <div class="w-full max-w-[350px] mx-auto aspect-[9/16] shadow-2xl overflow-hidden bg-black">
        <video 
          class="w-full h-full object-cover" 
          src={videoUrl}   
          playsinline
          controls
        >
          Tu navegador no soporta el elemento de video.
        </video>
      </div>
      
    </div>
  </div>
</section>